<!Doctype>
<html>
  <head>
    <title>
      Info page
    </title>
  </head>
  <body>
    <h1>Info Page</h1>
    <p>Im slowly learning how to code and now I could type without looking.</p>
  </body>
</html>